[2019-03-27 07:34] csrvermaak opened #3 "fatal error: R_ext/Altrep.h: No such file or directory"
Hi

I'm very excited about this package, sounds impressive.

Having some issues installing though. I succesfully installed the latest version of both dependencies:

 * `Rcpp - 1.0.1`
 * `RApiSerialise 0.1.0`

Then downloaded the latest package source: `qs_0.14.1.tar.gz`

When I install from package source, I get the following:

[code]

Any ideas, please?

[2019-03-27 07:42] csrvermaak commented on #3
I found this [purplecat blog](https://purrple.cat/blog/2018/10/14/altrep-and-cpp/), which states

_Unfortunately in R 3.5.0, the Altrep.h is not C++ friendly, so you need to be careful when you include it._

Does this mean qs isn't compatible with R3.5.0?

[2019-03-27 08:16] traversc commented on #3
Yes, the main package isn't compatible with R before 3.5, but I have an earlier version that is:

[2019-03-27 08:20] csrvermaak commented on #3
Thanks for getting back to me, appreciated.

I am actually on R3.5.0, so should be compatible?

[2019-03-27 08:31] traversc commented on #3
In that case, I am not sure, but please try:

`install.packages("qs")`

This is pre-compiled for windows on CRAN.  The github version is a bit of a development version, so CRAN would be better tested.

[2019-03-27 08:53] csrvermaak commented on #3
I think I see the issue.  I am using Microsoft R Open, and install packages from MRAN.

There isn't a binary for `qs` on MRAN, hence I had to compile from source:

![image](https://user-images.githubusercontent.com/6738800/55062354-8476f280-507e-11e9-9bee-40fde95870a2.png)

[2019-03-27 08:58] csrvermaak commented on #3
Hmm - from CRAN:

[code]

[2019-03-27 09:03] csrvermaak commented on #3
I see you build the CRAN packages using R3.5.3. Not to worry, I'll build from source, having manually copied the Altrep.h file to the correct folder.

[code]

PS - The speed improvement is GREAT!!! Thanks!

[2019-03-27 09:03] #3 closed

[2019-03-27 09:04] traversc commented on #3
I see, Microsoft R open  complicates things, since they don’t keep quite up to date.  Iit may be something weird with MRO not finding the right headers, not sure.

Sorry I don’t know what the issue is, but I’ll troubleshoot and try to reproduce it later.  In the mean time, the version for R 3.4 should definitely work.

[2019-03-27 09:05] csrvermaak commented on #3
Thanks - I've compile from source for now, manually found and copied the Altrep.h file.

The speed improvements are FANTASTIC! Thanks :)

[2019-04-03 08:02] antspengy opened #4 "Show error/warning if qread() fails because file doesn't exist?"
Hi

This is a great package, and really speeds up load times for my Shiny apps.

Just a minor issue/suggestion.  If a user uses qread() to open a file that doesn't exist (i.e. usually because they've made a typo in the file name, like I did), no warning or error message currently appears.   The user can check to see if the variable you are loading to is null but otherwise doesn't know it didn't wo

[2019-04-03 16:48] traversc commented on #4
Thanks!  I have this fixed in the development version here on github.  On the R side:

` c_qread(normalizePath(file, mustWork=FALSE), use_alt_rep, nthreads)`

On the C side:

[code]

I'm hoping to submit an update to CRAN soon.

[2019-04-08 21:03] traversc commented on #4
@antspengy It's updated on CRAN if you 'd like to check it out :)

[2019-04-08 21:03] #4 closed

[2019-04-24 21:32] antspengy opened #5 "Files with ".q" extension causing some issues in RStudio"
Hi

I've been using qs successfully over the past month but began noticing some strange and quite major slow downs in RStudio in projects that have files saved with ".q" extensions.  This is particularly the case if the .q file is large (i.e. I have a few files that are >300MB).

I logged the issue with RStudio (https://github.com/rstudio/rstudio/issues/4696), and Kevin has explained in his commen

[2019-04-25 00:14] traversc commented on #5
Thanks for pointing that out, I had no idea!

[2019-05-07 10:31] jerryfuyu0104 opened #6 "QS cannot compress R6 object efficiently"
RiskModel <- R6Class(
  classname = "RiskModel",
  public = list(
    name = NULL,
    covMat = NULL, ## N * N
    initialize = function(name,  covMat = NULL) {
    }
  ),
  private = NULL,
  active = NULL,
  inherit = NULL,
  lock_objects = TRUE,
  class = TRUE,
  portable = TRUE,
  lock_class = FALSE,
  cloneable = TRUE,
  parent_env = parent.frame()
)

if i initialize RiskModel with covMat size

[2019-05-07 16:45] traversc commented on #6
`qs` relies on built in R serialization for S4 objects and higher, so if `covMat` is part of a S4/R6 object, it'll just be serialized by the default function.  The reason for this is that I built `qs` for serializing mainly big data.frames, and nested lists (e.g. JSONs), for now.

It's definitely possible to more efficiently serialize S4/R6 objects, and it is on my (long) to do list :)

[2019-05-17 18:37] traversc commented on #5
I changed all of the documentation from ".q" to ".qs" in the new version.  Thanks again!

[2019-05-17 18:37] #5 closed

[2019-05-17 18:57] traversc opened #7 "To do list and help wanted"
This issue is intended as a place to keep track of things I want to change or look at in future versions:

To do list:

- Refactor common functions (e.g. header read/write functions)
- Better error handling (file read check, compression check, RAII for PROTECT
- Can we use pipes as another option instead of just files?  I.e., like the `pipe` function in R.  Possibly with the `boost` library
- Othe

[2019-05-28 12:32] leungi opened #8 "Error in c_qread(normalizePath(file, mustWork = FALSE), use_alt_rep, inspect, : something went wrong (reading string header)"
I have a batch of output, each containing 100 rows, with a mix of column data types, including list-columns.

Out of 478 outputs, only 1 had generated the subject error on read.

[code]

Can this be due to corruption on save? I don't see any warning/error message on save, so it may be useful to have `qs` check file readability (random sampling of rows) on saved object.

[2019-05-28 16:20] traversc commented on #8
Yes it sounds like the data got corrupted on save.  If R gets interrupted while saving, it could lead to corruption, but I haven't seen a case that is reproducible.

Are you saying that it is an error that always happens reproducibly?  If so, do you think you could help me troubleshoot?

[2019-05-28 17:03] leungi commented on #8
Thanks for prompt response @traversc.

RAM may not be the issue in this case; the corrupted file is in the middle (file 224) out of the 478.

This is the first time I've had issue with `.qs` file; otherwise, it's been amazing so far 👍

I can't reproduce the error; using the same data, I was able to save and successfully read back the new `.qs` file.

`qread(my.file.path, use_alt_rep=F)` returns sa

[2019-05-28 17:53] traversc commented on #8
Do you think it would be possible to send the problematic data?  I'm hoping the data is not too sensitive, and I would really appreciate if we could solve the issue.

[2019-05-28 18:39] leungi commented on #8
They are proprietary data; apologies.

I thought of anonymizing the data, but since it's corrupted, I can't open it :anguished:

Unless there's another brute force way to recovering data from the corrupted file...

[2019-05-28 22:20] traversc commented on #8
You could use the `qdump` function to output raw unserialized data.  You could then "manually" pull out data, but I suspect it would be more trouble than it's worth, since you'd need to read tons of code to understand the format 😧

If you ever come across corrupted data you can share, please e-mail me @ gmail.

[2019-05-29 16:57] #8 closed

[2019-05-30 13:21] leungi commented on #8
`qdump()` does work, but manually decoding the raw data is beyond me :sweat:.

I will take note of future occurrence and email you.

Thanks again for your work!

[2019-06-15 07:46] emilBeBri opened #9 "error when using data.table setnames(): ALTSTRING classes must provide a Set_elt method"
when saving a data.table with qsave, no matter which preset compression, and then using setnames() from data.table, the following error pops out:

`
Error in setnames(føl1, føl_reg$dan_s, føl_reg$dan) :
  ALTSTRING classes must provide a Set_elt method
`
This error doesn't happen if setnames() is used directly on the data.table before it is saved and read with qsave/qread.

however by copying the

[2019-06-15 08:27] traversc commented on #9
I see what the problem is.

I don't think it's necessarily a bug with `qs` because `data.table` is calling C functions directly, but it will be fixed soon :)

For now, when you read in the data, use the parameter `use_alt_rep=F` for now.

[code]

[2019-06-16 07:37] emilBeBri commented on #9
allright, great!
And thank you for a great package - better than feather AND fst, but with the flexibility with object-types from RDS - awesome!

[2019-06-16 07:38] emilBeBri commented on #9
should I close the issue? I'm not that familiar with the procedures about these things.

[2019-06-16 07:40] traversc commented on #9
I believe I've fixed the issue using altrep if you want to use it.

tbh, altrep doesn't really make too much difference, it's more for winning benchmarks :p

Feel free to re-open if there's still an issue.

[2019-06-16 07:40] #9 closed

[2019-06-17 22:02] leungi opened #10 "Memory bloat on .q file load"
Hi,

I was promoting your `qs` package to another user, when he realized that upon loading `.q` files into R session, the object size may be bloated by 2-3x.

I validated his findings with my own `.q` files.

The file size shown in RStudio Environment pane may be misleading (reflecting similar size as saved object), but inspecting object size via `object.size()` and checking memory use via Windows

[2019-06-17 22:18] traversc commented on #10
Please try the `use_alt_rep=F` parameter in `qread`.  That should reduce memory usage.  However, `object.size` should not show any difference, regardless of whether using `qs` or not.

R also has a garbage collection setup, which may not happen right away.  You can call it with `gc()` (although that's an R issue).

[2019-06-17 22:47] leungi commented on #10
@traversc: thanks for prompt reply.

`object.size()` did return equal size; must've been lingering variables in environment.

However, Windows memory usage bloat persist.

[code]

Running `gc()` has no effect.

![qs_bloat](https://user-images.githubusercontent.com/30273868/59641635-e9932f00-9127-11e9-9371-35a171e491cd.PNG)

[2019-06-17 23:03] traversc commented on #10
Does the memory issue persist if you start a new session and only use `use_alt_rep=F`?

[2019-06-18 12:58] leungi commented on #10
Same issue (screenshot attached).

[code]

![qs_bloat](https://user-images.githubusercontent.com/30273868/59684050-e1c2a180-919e-11e9-991a-2d11a74ad632.PNG)

[2019-06-18 17:29] traversc commented on #10
I believe that to be in line with expectation.

I ran the following test (on Mac right now, but will try it out on windows later)

Generate data -- about 2.1 GB data frame according to `object.size`
[code]

New session:
[code]
Memory usage according to `ps` command: 2737700 kb (1024 bytes)

New session:
[code]
Memory usage according to `ps` command: 2475848 kb (1024 bytes)

So there is no differen

[2019-06-19 15:10] leungi commented on #10
Using `use_alt_rep = F` option does resolve this issue, as you suggested.

Closing this; appreciate your investigation!

[2019-06-19 15:10] #10 closed

[2019-06-22 00:10] #7 closed

[2019-07-10 13:14] gaborcsardi opened #11 "Relax the R >= 3.5 requirement"
What would it take to support R >= 3.2?

[2019-07-10 13:16] gaborcsardi opened #12 "Writing / reading to / from file descriptor or memory directly"
Do you think it would be possible to add support for this? It would be great to be able to use a pipe/socket and also memory directly.

[2019-07-10 17:02] traversc commented on #11
Just deleting the alt-rep stuff.  I'm using it because I think the string cache is unnecessarily slow, but someone else pointed out that it can blow up memory.

[2019-07-10 17:05] traversc commented on #12
Yep, I was looking at pipes for the next version :)

[2019-07-10 17:29] gaborcsardi commented on #11
What do you think about having an ALTREP free implementation for older R
versions?

On Wed, 10 Jul 2019, 19:02 Travers, <notifications@github.com> wrote:

[2019-07-10 17:38] gaborcsardi commented on #12
Great! For my use case the best would be to be able to write to a file
descriptor, or HANDLE on Windows.

On Wed, 10 Jul 2019, 19:05 Travers, <notifications@github.com> wrote:

[2019-07-15 08:42] traversc commented on #11
Hi Gabor, I updated the github version so that it works with R < 3.5.  Instead of having two different versions, I used preprocessor macros to comment out alt-rep stuff if it detects R < 3.5.

Tested it out with R 3.4 on windows.

[2019-07-15 08:43] gaborcsardi commented on #11
Thanks!

[2019-07-15 15:21] hadley opened #13 "Note about AGPL-3 license"
AGPL-3 is sufficiently unusual that I think it's worth a brief note in the readme. It's likely to make it impossible for people to use inside many companies (for example, both google and facebook forbid the use of AGPL software).

[2019-07-15 16:40] traversc commented on #13
Thanks for the info.  What would you recommend?

[2019-07-19 21:51] hadley commented on #13
An ideal world, I'd recommend avoid using AGPL-3 just because it's relatively unknown, and bigger companies are generally [concerned about it](https://opensource.google.com/docs/using/agpl-policy/). If you've picked it deliberately, then I think you should at least just note the license on the README, and maybe point to something like <https://www.gnu.org/licenses/why-affero-gpl.html>

[2019-07-22 07:46] traversc commented on #13
I've changed the license to standard GPL-3.  Thanks again for the heads up.

[2019-07-22 07:46] #13 closed

[2019-07-22 07:46] #11 closed

[2019-07-22 07:49] traversc commented on #12
I've added two new functions, `qsave_pipe` and `qread_pipe` for writing to file descriptors or R connections.

Writing to R connections seems to be un-allowed by CRAN normally (e.g. https://github.com/tidyverse/readr/issues/856#issuecomment-391787058), but can be enabled when compiling).

I'm going to test it out a bit more and submit CRAN.

[2019-07-22 12:05] hadley commented on #13
Awesome, thanks!

[2019-07-22 12:09] gaborcsardi commented on #12
Thanks! Unfortunately for my use case R connections are not very good, just a simple Unix fd or a Windows HANDLE would be much better.

[2019-07-22 16:23] traversc commented on #12
I have this set up in two ways -- one way using R connections, the other way using FILE pointers created by `popen` from cstdio.h.  So for example, you could do this:

[code]

On the C++ side, this looks something like this:
[code]

Is that what you had in mind?  Working with windows handles or even unix fd's (which I understand are wrapped by FILE * pointers) are a bit beyond current expertise.

[2019-07-22 17:17] gaborcsardi commented on #12
Thanks! Well, almost. :) `FILE *` is still too difficult, it has its own buffering, etc.

The best for us would be file descriptors, i.e. the integers returned by `open()` on Unix, and the `HANDLE` returned by `CreateFile()` on Windows. You would probably put these into an external pointer, to be able to handle them the same way on both platforms.

Then we could use `mmap()` on Unix and `MapViewOf

[2019-07-24 21:31] traversc commented on #12
Hi @gaborcsardi, I have a short toy example using file descriptors:

*nix version: https://gist.github.com/traversc/e04911a86c8d581b058815d4aa7e7366
Windows version: https://gist.github.com/traversc/b531a4932e87cca2aa324c6a015c80a4

Do you mind looking it over and seeing if it's what you had in mind?

Some questions for you:

Since we can use file descriptors in both windows and unix-like, that wo

[2019-07-25 10:37] gaborcsardi commented on #12
That's a good start! Unfortunately I don't think we can use the integer file descriptors on Windows, not everything is a file on Windows, and e.g. the shared memory handles will not work.

Re. mmap, we will do this:

1. open a temp file for writing (or `CreateFileMappingA()` on Windows) to get an fd
2. delete the file
3. resize the file to the "correct size"
4. call `mmap()` on the fd to create a

[2019-08-01 13:18] ccshao opened #14 "qread error with large file"
I have a 4Gb R object and saved it to disk with qsave (3.7 Gb in disk), but later could not read it with qread. Playing with the qread parameter does not solve the problem. I am using the latest version of qs.

[code]

Session info:
R version 3.6.1 (2019-07-05)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Linux Mint 19.1

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/blas/lib

[2019-08-01 16:31] traversc commented on #14
Hi, would it be possible to show me an example I can reproduce?

[2019-08-01 16:53] ccshao commented on #14
Is that ok I put the whole qs saved file in the dropbox and provide you the link?

[2019-08-01 18:08] traversc commented on #14
Yes, thanks.  You can e-mail me the link if you don't want to make the data completely public.

[2019-08-03 19:48] traversc commented on #14
The error was determined for very large S4 objects (> 2 GB).  Will be fixed in the next version.

[2019-08-04 13:50] ccshao commented on #14
Thanks for the quick fix!

[2019-08-04 13:50] #14 closed

[2019-08-13 19:39] traversc commented on #12
Hi @gaborcsardi, I think I've put together all the requests in the latest commit.  I had to do a bunch of re-factoring to use templates instead of assuming `std::fstream`.

I have the following new functions:

* qsave_fd -- save data to a fd (an int)
* qread_fd -- read data from a fd
* qsave_handle -- save data to a handle (an external void pointer since HANDLE is #defined as void*; Windows only)

[2019-08-18 18:32] gaborcsardi commented on #12
Awesome! Thanks for doing this. I'll take a good look very soon, sorry for the delay.

[2019-08-24 11:30] xiaodaigh opened #16 "Is it possible to use `qs` to compress an object and not serialize to disk?"
I imagine a `qs` function called `compress`

[code]
and that `compress_obj` is still in memory. Why would I want that? It's because I can use it together with `future` and pass compressed object back and forth worker sessions.

[2019-08-24 18:59] traversc commented on #16
Yes, there are two functions for that:

`qserialize` and `qdeserialize`.

[2019-08-25 10:48] #16 closed

[2019-09-30 07:25] cuttlefish44 opened #17 "qs package looks not to support multibyte string path/filename at windows"
I'm Japanese and I use R with Rstudio at Windows 10.
`qs` package always help me, thanks very much. But I found it have problems with filename/path of multibyte string.
I would highly appreciate If multibyte path are supported.

[code]

Here is my sessionInfo().

[code]

[2019-09-30 14:41] artemklevtsov opened #18 "Expose C++ API to use in other Rcpp packages"
Hi,
Thank you for the excellent package.
It would to use C++ function in other packages which use Rcpp.

[2019-09-30 16:42] traversc commented on #17
This is a hard one, unfortunately I am not very familiar working with wide characters -- I'm having trouble replicating since I don't have a japanese windows locale.  Does `saveRDS(iris, "中間データ/あいりす.rds")` work?

C++ standard doesn't directly understand wide characters as I understand, and I'm unsure of R's support on windows too.

In the mean time, could you define a new function like this:

[cod

[2019-09-30 16:43] traversc commented on #18
I'll look into it!  Not sure how hard it will be.

[2019-09-30 16:51] artemklevtsov commented on #18
Thank you. As start point I suggest this doc (section 3.6): http://dirk.eddelbuettel.com/code/rcpp/Rcpp-attributes.pdf

[2019-10-01 02:23] cuttlefish44 commented on #17
Thanks for your response.
OK, I understood it is hard. I don't want you to spend time to solve a language, not essential problem.

Yes, it works.

I decided to make/use a custom function like you showd me kindly. Again, `qs` package is really helpful for me, THANKS FOR YOUR WORK !!

[2019-10-01 03:33] traversc commented on #17
You're welcome!  I'll leave this open to see if I can find a workaround eventually.

[2019-10-01 16:28] traversc commented on #18
Thanks for the link, and pointing to the correct section!

Would you mind testing it out on the latest github version?  Here is an example.

[code]

[2019-10-02 00:14] artemklevtsov commented on #18
Thank you for the quick reply. Now it's work. I tried example with `c_qserialize`.

[2019-10-04 16:30] traversc commented on #18
I uploaded a new version to CRAN with C++ API: https://cran.r-project.org/web/packages/qs/index.html.  Closing this now :)

[2019-10-04 16:30] #18 closed

[2019-10-04 17:19] artemklevtsov commented on #18
Thank you.

[2019-10-23 22:58] leungi opened #19 "qs::qread() error -"
Thanks again for `qs`; it's been a very helpful tool to date.

Been a while (#8) 👌 since I had issues with `qs`.

This is the first time I've seen this error message:

[code]

__Session info__
[code]

[2019-10-24 00:20] traversc commented on #19
Could you update to the latest version 0.19.1, `install.packages("qs")`?

I did some digging, but I can't see how that error can be generated.  But if you could send or create a reproducible example I would very much appreciate it!

[2019-10-26 19:35] leungi commented on #19
Thanks for prompt response @traversc.

Updated package to 0.19.1. Still can't open file, but error message is generic this time:

[code]

Unfortunately, data are confidential, so I can't share.

I'll do the batch run with new pkg version, and hope output are all read-able this time 🤞; will update here.

[2019-10-26 21:07] traversc commented on #19
"Failed to open file" happens when it can't open up the file at all:

https://github.com/traversc/qs/blob/ce11fcde9bd645454ed2c98f7d849763866e67f6/src/qs_functions.cpp#L272-L276

[2019-10-28 14:22] leungi commented on #19
Noted; it's odd to me that it always happen to a handful (<5%) of files when running in batch (e.g. 50 output).

However, re-running the input data for those corrupted files the second time gives read-able output; I suppose it's the way of life - mutated/bad DNA every so often 😄.

On a side note, new error message on subsequent re-runs:
[code]

Since I can't replicate these errors manually, and ca

[2019-10-28 16:36] traversc commented on #19
Sorry I'm not really able to help you.  I use `qs` myself every day, and haven't run into these issues.

It's sure possible that there are bugs in `qs`, but to me it sounds like your files are getting corrupted some how.  E.g. if you try to save to the same `qs` file from two different threads (e.g., using `parallel` processes) that might break it; if you are running a batch, make sure all the sav

[2019-10-28 16:36] #19 closed

[2019-10-29 12:31] leungi commented on #19
Thanks for feedback; I do ensure file names are unique.

For the convenience `qs` provides, I can live with <5% lemons 😄 👍

[2019-10-29 14:53] leungi opened #20 "install.packages() error in RHEL"
Tried to upgrade to version 0.19.1, but got the message below.

__System info__
[code]

[code]

[2019-10-29 16:57] traversc commented on #20
It sounds like an issue with compiler version.  `g++ -std=c++0x` Should probably be `g++ -std=c++11`.

Create a file `~/.R/Makevars` and put in

[code]

See if that helps.  If not, you may have to update the compiler compiler which can be a bit tricky, do you have someone managing the system who can help?

[2019-10-29 19:20] dipterix commented on #20
I have similar problem. Trying to test my package on `r-hub` and got preperror. Here's original report.
[https://builder.r-hub.io/status/original/dipsaus_0.0.2.tar.gz-2a07cfa0f31244dbbb9cf3bda0b0fb32](https://builder.r-hub.io/status/original/dipsaus_0.0.2.tar.gz-2a07cfa0f31244dbbb9cf3bda0b0fb32)

`installation of package ‘qs’ had non-zero exit status`

[2019-10-29 19:21] moldach opened #21 "qs is less efficient than rds in terms of IO for ggplot objects"
I'm trying to include some large `ggplot2` objects in a Shiny application and some folks suggested that I try out the `qs` package instead of read/write with base R's `.rds`.

When I tried benchmarking I ran into unexpected results. It looks like qs is worse in terms of IO than with `.rds` files (especially when `compression = FALSE`): [link to benchmarking figure](https://pbs.twimg.com/media/EIEY

[2019-10-29 19:27] traversc commented on #20
Hi @dipterix, that is a bug with rhub.  They are using outdated alt-rep header files on some of their platforms.

The error you receive is:

[code]

But if you look in the R source code, you can see it doesn't match the latest R version:
[code]
https://github.com/wch/r-source/blob/trunk/src/include/R_ext/Altrep.h#L38-L39

I filed an issue here:

https://github.com/r-hub/rhub/issues/289

[2019-10-29 20:04] traversc commented on #21
For S4 objects (e.g. a ggplot) `qs` just relies on default R serialization See: https://github.com/traversc/qs/issues/6.  I'm working on more efficiently serializing S4 objects for the next version.

So it is expected that R serialization without compression is faster than R serialization with compression (qs default for S4 objects).

It is surprising that `bench::mark` crashes, I'll look into tha

[2019-10-29 23:09] dipterix commented on #20
Oh I see. Thanks @traversc

[2019-10-30 12:47] leungi commented on #20
Thanks for the explanation and detailed answer @traversc 🙇‍♂️!

It really helps for someone like me, who has minimal Linux/C knowledge, and managing DIY-style.

Followed your guide and got it installed on one of the machines; hope it'll be successful as well on another machine coming later today 🤞.

[code]

[2019-10-31 14:58] leungi commented on #20
@traversc: apologies to have to reopen this.

I tried the same trick with `~/.R/Makevars` but faced the same issue on new machine.

I inspected the console message from the previous successful install, and tried various options for `Makevars`, but still no go.

Hope you may provide more guidance 🙇‍♂️

__Trial 1__
[code]

__Trial 2__
[code]

__Trial 3__
[code]

__Trial 4__
[code]

__Compiler info__

[2019-10-31 19:50] moldach commented on #21
Okay, so I took at look at [#6](https://github.com/traversc/qs/issues/6) - It would be great if `qs` had more efficient serialization in the future.

For example, the `hawaii_agriculture_100m_basemap.rds` file is **356MB** but with `qsave(hawaii, preset = "high", "hawaii_compressed.qs")` the object is a whopping **1GB!** If I set the parameter `preset = "uncompressed"` it's **3.2 GB**

[2019-10-31 22:39] traversc commented on #20
Could you post the error log when you install?  Unsure what the issue could be.  What is different about the machine?

[2019-10-31 22:59] leungi commented on #20
Thanks for prompt response!

The only difference I see is the `gcc` and `g++` minor version.

__System Info__
[code]

__Trial 1__
[code]

__Trial 2__
[code]

__Trial 3__
[code]

__Trial 4__
[code]

[2019-11-04 10:32] emilBeBri opened #22 "when using a for-loop and creating a variable by reference (data.table), no variable is created"
Hi, so, when loading a data.table saved as an qs-file, and using a for-loop with by-reference created variables, the package fails, like so:

[code]
if, however, one does not save it as a qs-object, or, if not doing the variable creation in a loop, but for each indiviual data.table, everything is fine. I tried using the argument  use_alt_rep=F as well, but that does not help. if one uses the copy(

[2019-11-04 13:41] leungi commented on #20
Update: `qs` install successful after reinstall of `gcc` and `g++` compiler in RHEL machine.

Weird thing is `gcc` and `g++` are of different versions, and yet it works; previously, I had forced `gcc` and `g++` to be 4.9.3 via `~/Makevars`.

[code]

There are some warnings, but tested `qsave()` and `qread()` with not issue.

[code]

[2019-11-04 13:41] #20 closed

[2019-11-04 17:51] traversc commented on #22
Hi @emilBeBri , this is an issue with `data.table` and saving to disk, not `qs`.  You can see that even with other serialization methods, you get the same issue:

[code]

The reason is `data.table` uses C reference pointers to places in memory:
[code]

A quick fix would be to re-wrap the data.table:

[code]

[2019-11-05 12:17] emilBeBri commented on #22
nice!  Wrapping it in data.table is a neat trick to circumvent this. You can also do it with setDT() and thereby not making any copiyng at all , so this is probably the most efficient solution (although perhaps more error-prone?)

[2019-11-05 12:17] #22 closed

[2019-11-11 09:27] traversc commented on #21
I did a bit of digging why the the file size was so large.  The ggplot object contains a reference its own environment, so the serialization gets a bit recursive, even with base R serialization.

Note that if you just save the data, the file size is a lot smaller regardless of method:
[code]

So I would suggest saving just the data, rather than the ggplot object, which will be larger by a factor o

[2019-11-13 14:51] statquant opened #23 "nanotime are not loaded back correctly in qs"
Hello there seem to be a bug when saving nanotimes in data.tables
I am using qs_0.13.1
[code]
If that helps the same thing works using fst

[2019-11-13 14:56] statquant commented on #23
Also tested with latest from cran and got the same issue

[2019-11-13 17:14] traversc commented on #23
Thank you for bringing it to my attention.  It will be fixed in the next version.  In the mean time, you can temporarily fix the issue with e.g.:
[code]

[2019-11-13 19:53] statquant commented on #23
Great
Many thanks
Just for other people, `q$s = asS4(q$x)` would trigger a copy of the data.table, the following would work for arbitrary number of nanotime columns
[code]

[2019-11-13 22:06] traversc commented on #23
Cool, if you don't mind I'll keep it open in case other people have the same issue they can see it.

[2019-11-14 19:25] statquant opened #24 "question about multithreading"
Hello,
when I am load using qs::read I do not see any multithreading (only one cpu is spining at 100%), should this is expected ?

[2019-11-15 15:29] moldach commented on #21
Hi thanks for digging into this.

Just to make sure I'm understanding you correctly . You're saying you would do the entire generation of the basemap via a `ggplot()` call in Shiny  (the global environment) rather than saving it as a `.Rds`?

For me there is two issues with this approach.

+ The first is that [using a canvas speeds up rendering of plots](https://www.r-bloggers.com/accelerating-ggp

[2019-11-15 17:41] traversc commented on #21
In the ggplot issue link I posted, they suggested another solution, which was to remove the `plot_env` directly.  A hacky solution could be like this:

Take everything you need in the plot_env and put it into a list, and then save the list along with the base plot.

When you load in the data, reconstruct the plot_env.

This might take a little trial and error to get right, but I believe it would d

[2019-11-17 07:38] traversc commented on #24
The default is 1 thread, you have to change it.  It's really only useful when you have high compression at the moment.

[2019-11-28 12:08] statquant opened #25 "What setting do you recommend to load file as fast as possible"
Hello I'd like to load a save qs file as fast as possible.
What setting do you recommend for that ?
Another question: I usually save lists of data.tables. I have the feeling that when each data.table have list columns loading them is slower, is it something that could be true ?

[2019-11-28 13:09] #25 closed

[2019-12-02 02:01] traversc commented on #23
Should be fixed with ver 0.20.1 on github and hopefully on CRAN soon).  :)

[2019-12-02 02:01] #23 closed

[2019-12-02 02:01] #24 closed

[2019-12-02 02:03] traversc commented on #21
Hopefully this is now more efficient in version 0.20.1 (on github) -- should be on CRAN soon too.  Check out the numbers below:

Write:
[code]

Read:
[code]

File sizes:
[code]

[2019-12-02 02:03] #21 closed

[2019-12-02 03:41] artemklevtsov commented on #17
@cuttlefish44 can you provide path as bytes (with `charToRaw`)? I suppose the encoding on Windows is not UTF-8.

[2019-12-02 06:52] cuttlefish44 commented on #17
@artemklevtsov; @traversc

Surprisingly, I can't reproduce the issue.
I haven't changed my environment related R but Rstudio (I've done it update).
This issue perhaps be caused by Rstudio.
I just don't feel satisfied... but maybe my problem has been solved.

Thank you for your kindness.

[2019-12-02 07:58] traversc commented on #6
Hey this should be more efficient now.  Give it a shot if you are still interested :)

[2019-12-02 07:58] #6 closed

[2019-12-02 08:56] #12 closed

[2019-12-04 01:00] #17 closed

[2020-01-08 20:23] mllg opened #26 "Questions about the benchmark"
Thanks for the package. I have a couple of questions regarding the benchmark in the README:

1. Where can I find the benchmark script so that I can replicate it on my system?
2. Which compression algorithm is used in `saveRDS()`? I assume "bzip2", but this should be documented.
3. Why are gzip, xz and uncompressed (`compress = FALSE`) not included in the benchmark?
3. AFAIK `saveRDS()` is single t

[2020-01-09 17:13] eliotmcintire opened #27 "Failing save/read on an S4 class Raster"
Enjoying your package. The speeds are great! I have a reprex of a failing save/restore with `qs`. It requires `raster` package. Any chance this is fixable?

[code]

[2020-01-10 08:51] traversc commented on #26
Hi @mllg:

1) please see here for the benchmark script.

https://gist.github.com/traversc/a3b42c2ca0af940df40ed954c40cb315

There is a variable called "reps" which I set to 1 for testing between versions.  You can increase that number if you'd like to get something closer to something like the one in the readme.

Note also, that there is a lot of relative variation depending on the hardware and OS

[2020-01-10 08:54] traversc commented on #27
Thank you for the report.  I see the issue and it will be fixed in the next CRAN release.  👍

[2020-01-10 12:14] mllg commented on #26
Ah, that explains a lot.

I still think including timings for no compression would help, this is an important baseline.

Anyways, thanks for your comments and all the effort you put into this package!

[2020-01-10 12:14] #26 closed

[2020-01-21 00:43] mike-lawrence opened #28 "Docs report incorrect default value for shuffle_control"
The docs say "shuffle_control An integer setting the use of byte shuffle compression. A value between 0 and 15 (Default 3). See details.", yet the default appears to be set to 15.

[2020-01-21 23:18] traversc commented on #28
Thanks for the heads up!  I'll fix the documentation in the next release.

[2020-01-24 22:59] traversc opened #29 "To do fix: qs does not properly track active bindings in R6 (or environments)"
Example:

[code]

[2020-01-25 20:04] DyfanJones opened #30 "Alternative to readBin and writeBin"
Hi,

Are there any plans to replace the `writeBin` and `readBin` functions in R?

[2020-01-27 21:58] traversc commented on #30
No plans to replace those functions.  Reason being, those functions are already pretty much as fast as possible.  See below for a benchmark between `readBin` and a custom C++ function:

Custom function:
[code]

Benchmarking:
[code]

[2020-01-28 11:07] DyfanJones commented on #30
Hi @traversc,
Thanks for looking into the `readBin` function. However the `writeBin` function is currently restricted to `Only 2^31 - 1 bytes can be written in a single call (and that is the maximum capacity of a raw vector on 32-bit platforms).` This means that it can't handle large `raw` objects greater than 2^31 - 1 bytes. To compensate with this a loop has to be created. The best I have come u

[2020-01-28 18:42] traversc commented on #30
Hi @DyfanJones, I see your issue.  I don't see it as part of the scope of the package, but below are two Rcpp read/write functions you can use:

[code]

Benchmarking:
[code]

[2020-01-28 19:48] DyfanJones commented on #30
Hi @traversc thanks for going beyond and writing out two very useful `Rcpp` functions. You have been really helpful with this, I will take your advice. Please feel free to close this ticket.

[2020-01-29 07:35] kendonB opened #31 "qs saves include extra items in environments"
This problem is described for rds's here (since fixed in base R) and occurs when saving via `qs`:

https://stat.ethz.ch/pipermail/r-devel/2016-July/072924.html

In short, qs seems to serialize all objects in an enclosing environment when writing items that include environments such as `lm` or `ggplot`.

[code]

<sup>Created on 2020-01-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.

[2020-01-29 07:36] kendonB commented on #31
@wlandau fyi

[2020-01-29 07:51] kendonB commented on #31
Possibly related: https://github.com/traversc/qs/issues/21

[2020-01-29 20:14] traversc commented on #31
Hi @kendonB , the issue is not environment, but `junk <- 1:1e+08` being an ALT-REP, which is a special type of object.  Let me explain, but first try this:

[code]

You can see that for other types of objects, the compressed sizes are  similar.  In R 3.6, `rds` uses a new format that serializes ALT-REP objects in a different way.  Effectively, `rds` only saves the `1` and `1e8` in `1:1e8`.

I coul

[2020-01-29 21:12] #31 closed

[2020-02-06 07:42] #30 closed

[2020-02-07 17:39] traversc commented on #29
Fixed on cran.

[2020-02-07 17:39] #29 closed

[2020-02-07 17:39] traversc commented on #28
Fixed on cran!

[2020-02-07 17:39] #28 closed

[2020-02-07 17:40] traversc commented on #27
Fixed on cran!

[2020-02-07 17:40] #27 closed

[2020-02-22 19:05] r2evans opened #32 "rpois arguments"
In your vignette and tests, you use `rpois(100, 5e6)` along with `rnorm(5e6)`. The call to `rpois` is producing only 100 random samples; `data.frame` won't complain because 100 cleanly recycles into 5e6.

(I doubt this has any influence on the benchmark or results, but the code is inconsistent.)

[2020-02-23 10:03] traversc commented on #32
Thanks for pointing that out.  Will be sure to fix it next time ;)

[2020-03-04 11:48] artemklevtsov commented on #12
Can I use this features (`qsave_fd`) to append data? I think not, but I want to clarify.

[2020-03-04 20:27] traversc commented on #12
@artemklevtsov Technically, yes.  You would have to open a file descriptor in append mode:

https://stackoverflow.com/questions/7136416/opening-file-in-append-mode-using-open-api

But I don't recommend doing this, as I don't guarantee being able to correctly deserialize data if there are extra bytes at the end of a file.

[2020-03-05 03:40] artemklevtsov commented on #12
@traversc thank you for the explanation. Do you have any plans to add a feature like that? I look for an alternative for the `data.table::fwrite` with append to fetch a bulk data.

[2020-03-05 19:33] traversc commented on #12
@artemklevtsov No plans for that feature as the format isn't set up for that, sorry.

I know that with the `fst` package you can do that with data.frames, and I definitely support using `fst` for that purpose.

Alternatively, you can save two separate data.frame objects and use `rbind` after reading.  That should also be pretty fast.

[2020-03-06 15:35] superchordate opened #33 "Wrapper to replace base save and load operations"
It'd be awesome if there were qs versions of the save and load operations from base, where you can give a file argument and a bunch of objects (also as args) and it'll save them in a list with qs, and then you can read them into the workspace again with a load function.

Should be relatively easy to do - I might make an attempt.

[2020-03-06 18:42] traversc commented on #33
Sure, if you want give it a shot, I'd take a pull request :)

I imagine a pure R implementation will be fine.  During reading, you'd want to check that the top level object is a named list (or possibly use a pairlist, since it's a less common object).

[2020-03-08 13:47] katrinleinweber opened #35 "Add GitHub Topics: compression & others used by fst"
Thanks for publishing this! In case you'd like to make [your repo more findable](https://github.com/topics/compression), you could [add that topic](https://help.github.com/articles/about-topics/) ;-) And possibly those that [fst](https://github.com/fstpackage/fst) uses, as well. Thank you!

[2020-03-09 02:27] traversc commented on #35
Thanks for the great suggestion! I've added some topics.

[2020-03-09 02:27] #35 closed

[2020-03-09 17:21] katrinleinweber commented on #35
Thank you :-)

[2020-03-10 18:21] traversc commented on #32
Hey, I fixed that typo and took the opportunity to update the benchmark. Should be on CRAN as well.

[2020-03-10 18:21] #32 closed

[2020-03-30 21:21] traversc commented on #33
Closing, will be incorporated in next update. Thanks!

[2020-03-30 21:21] #33 closed

[2020-04-24 18:41] dipterix opened #37 "Serialization benchmark"
Hi, if I made a speed comparison vs default `serialize`. I'm not sure where I did wrong, but the speed seems very close. If there any benefit by doing `qserialize`?

#### Random generated ~800KB
![image](https://user-images.githubusercontent.com/8163576/80245321-18bfda00-8630-11ea-9ac1-3e73926dc919.png)

#### Random generated ~8MB
![image](https://user-images.githubusercontent.com/8163576/80245383

[2020-04-24 20:00] traversc commented on #37
Generally, comparing serialization speed without considering output size is not very informative, and it depends on what `x` is.

Let me demonstrate with an example:

[code]

Looks like `qs_balanced` is worse, right? But consider the output size:

[code]
So serialization speed is not an apples to apples comparison, because `qs_balanced` has added in better compression.

For your other questions:

[2020-04-25 22:52] dipterix commented on #37
Thanks for the great explanation :) Now I have a better understanding where the use cases are.

Just tried your Rcpp interfaces. It was great and clear!

My apologies for asking so many questions that are not "issues" to the package.
I'm writing a package that requires serialization of multiple objects and concatenate them in RawVectors (consider two raw vectors concatenated to one). Is there anyw

[2020-04-27 18:37] traversc commented on #37
A `std::memcpy` from `RawVector` to `std::vector` should be pretty fast (generally 10+ Gb/s), so I wouldn't worry about that bottlenecking performance.  It's not particularly memory efficient, but internally, `qserialize` writes to a std::vector and `memcpy`'s to a `RawVector` too.

I'm not sure I see the use-case for concatenating two serialized objects together.  I don't guarantee that you can d

[2020-04-28 05:54] dipterix commented on #37
I see. I saw `memcpy` somewhere yesterday, but wasn't sure if it's safe to use it in my case. Thanks for confirming it.

I think I got all the information I need. Thanks :)

Here is what I'm trying to do. The goal is to put multiple R objects into one raw vector, wrapped with header/meta information. The reason doing so is because one object is too large (~500MB), and operations in R usually resul

[2020-04-29 16:22] #37 closed

[2020-05-14 15:03] BrianaHennessy opened #38 "package qs had non-zero exit status"
Hello,
I am trying to install the package "qs" using r/3.6.1 and I keep getting the error "installation of package 'qs' had non-zero exit status'. Prior to that error I see these messages:

/tmp/ccwSjoWV.s: Assembler messages:
/tmp/ccwSjoWV.s:1106: Error: no such instruction: `shlx %r13,%rax,%rax'
/tmp/ccwSjoWV.s:1147: Error: no such instruction: `shlx %rcx,%r13,%rcx'
/tmp/ccwSjoWV.s:1170: Error:

[2020-05-14 17:09] traversc commented on #38
Your CPU may be too old on that computer.

What is the command you are using to install?

[2020-05-14 17:18] BrianaHennessy commented on #38
Hello,

Thank you for your response. I am using a high performance cluster through
my university, so I am not sure how old the CPU is.

I have tried both install.packages("qs") and remotes::install_cran("qs",
type="source", configure.args="--with-simd=AVX2").

 I get a lot more errors with the remotes::install_cran command.

Thanks,
Briana

On Thu, May 14, 2020 at 1:10 PM Travers <notifications@gi

[2020-05-14 17:26] traversc commented on #38
The `shrx` instruction call coming from the ZSTD compression library was an instruction introduced in CPUs in 2014, but even still there is nothing in the code that calls that instruction directly.

So I suspect that there is a misconfiguration in the compiler.  Unfortunately, there's no way I can reproduce the error to investigate.  Have you had any trouble installing other packages?

[2020-05-14 17:31] BrianaHennessy commented on #38
No I haven't had any trouble with other packages.

I did initially have this issue on my old version of R before I updated to
R 4.0. I will see if I can reproduce it with an older version of R. I will
also pass your suggestion on to our tech people because maybe they will
know something about the misconfiguration in the compiler.

On Thu, May 14, 2020 at 1:26 PM Travers <notifications@github.com>

[2020-05-14 17:44] BrianaHennessy commented on #38
More information; I was able to install qs with an older version of R, so
that was not the issue. When I load R on the HPC (where I am having the
issue) I also have to load gcc/9.2.0. I'm sorry I don't understand all of
this, but could that be the issue? Does it need to be a more recent version
of gcc?
Thanks,
Briana

On Thu, May 14, 2020 at 1:31 PM Briana Hennessy <briana.hennessy@uconn.edu>
wrot

[2020-05-14 18:19] traversc commented on #38
The gcc version is fine, but there seems to be a mismatch between the CPU instructions gcc thinks is available and what's actually available.  Because it's a cluster, it gets even more complicated (e.g., if you install on the head node CPU architecture is different than the rest of the nodes).

I'm not sure if I can properly diagnose here, so I would have to suggest using some other approach to sa

[2020-06-04 16:08] ytakemon commented on #38
Hello @traversc,

I' seem to also have similar issues, but with a different set of error messages (see below). I am on an older R version 3.6.

Installing 1 packages: qs
Installing package into ‘/home/ytakemon/R/x86_64-pc-linux-gnu-library/3.6’
(as ‘lib’ is unspecified)
trying URL 'https://ftp.osuosl.org/pub/cran/src/contrib/qs_0.21.2.tar.gz'
Content type 'application/x-gzip' length 1590439 bytes

[2020-06-04 17:51] BrianaHennessy commented on #38
As an update - I did eventually get everything running when I only used the most up-to-date architecture on the cluster so you were correct in my case that the CPU was too old.

[2020-06-04 22:33] ytakemon commented on #38
Hi @traversc ,

I did try your suggestion first, but I get similar/ if note the same set of errors:

Installing package into ‘/home/ytakemon/R/x86_64-pc-linux-gnu-library/3.6’
(as ‘lib’ is unspecified)
--- Please select a CRAN mirror for use in this session ---
trying URL 'https://ftp.osuosl.org/pub/cran/src/contrib/qs_0.21.2.tar.gz'
Content type 'application/x-gzip' length 1590439 bytes (1.5 MB)

[2020-06-08 16:37] traversc commented on #38
@ytakemon: I'm not sure, but the compiler is generating instructions not supported by your CPU. I don't know what the solution is other than running it on a newer CPU.

[2020-06-09 00:03] ytakemon commented on #38
@traersc -Do you know what the minimum CPU requirements?

Using `lscpu` this is what I see on the machine I am working on:
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                40
On-line CPU(s) list:   0-39
Thread(s) per core:    2
Core(s) per socket:    10
Socket(s):             2
NUMA node(s):          2
Vendor ID:

[2020-06-09 01:50] traversc commented on #38
A cpu from around 2015 or later should have no problem(Yours is from 2014).  However, as I mentioned to Briana, I believe this to be a server configuration issue.

See below for similar issues in other places where you might find a solution:

https://github.com/fstpackage/fst/issues/167
https://github.com/intel/hyperscan/issues/53
http://www.nwchem-sw.org/index.php/Special:AWCforum/st/id2207/Intel

[2020-06-09 19:09] ytakemon commented on #38
@traversc I see - I'll look into your suggestions. Thanks for your help!

[2020-07-13 09:03] vtosevski opened #39 "qsavem error unexpected end of input 1"
Hi there,

I used to use qsavem previously without issues but now somehow it doesn't work, and I don't understand why. The example code that comes with the package works fine, but when using it in an actual pipeline I am getting:

`Error in parse(text = paste0("qsave(savelist, ", paste0(objnames[-unnamed], : <text>:2:0: unexpected end of input 1: qsave(savelist, qsavem(file = "/pstore/data/RICZ_SC

[2020-07-13 17:00] traversc commented on #39
Should be fixable, will let you know.

@bryce-chamberlain do you want to have a look? (Also, do you want to fill out your information in the `DESCRIPTION` file?)

Looks like it fails because the command gets broken into several lines.

Simple reproducible example:
[code]

[2020-07-13 17:03] traversc commented on #39
In the mean time, you can do this which is equivalent:
[code]

[2020-07-13 17:04] bryce-chamberlain commented on #39
Sure, I'll take a look.

[2020-07-13 17:30] bryce-chamberlain commented on #39
Looks like there is an issue where the file argument must be last. So

`qsavem(seurat, lineages, T.markers, tumor.markers, cluster_DEG_A, cluster_DEG_B, GO_A, GO_B, file = "abundance_expression_ExpA_SCT.qs")`

might work. I'll submit a PR to remove this requirement.

[2020-07-13 17:39] vtosevski commented on #39
Hi both,

Thanks a lot for the swift reply. I have initially tried both suggestions you made (making a named list of objects as an argument) and also putting file argument last (and also with and without nthreads argument). None of those worked albeit I was getting a different error message, if memory serves me well. Let me do that again and report the exact outcome.

[2020-07-15 00:21] traversc commented on #39
@vtosevski Try `remotes::install_github("traversc/qs")`

[2020-07-17 07:25] #39 closed

[2020-07-17 07:25] #38 closed

[2020-09-02 12:59] wlandau opened #41 "Question about the back compatibility policy"
I am developing a package called [`targets`](https://github.com/wlandau/targets), a Make-like pipeline tool for R. Like Make, `targets` tries to skip targets that are already up to date. Unlike Make, `targets` uses the hashes of data files to make decisions about which targets to run. Because of its incredible efficiency, `qs` is now the default data storage format. However, this comes with back c

[2020-09-02 22:31] traversc commented on #41
Yes, then plan is for future versions to always be able to read earlier versions.  But the hash of the same data written to file by `qsave` will not remain constant in future versions.

This is something I don't have full control over either, since I mainly rely on `zstd` as the compression algorithm. (`zstd` is constantly being updated and improved).

However, there's also an internal hash writte

[2020-09-02 23:03] wlandau commented on #41
Thanks for clarifying. I think we can deal with differing hashes.

Does `preset = "high"` use ZSTD?

Is the [ZSTD source](https://github.com/traversc/qs/tree/master/src/ZSTD) fully included `qs` itself, or are there parts that `qs` only links to? If a user only installs CRAN releases of `qs`, is there any reason that the hashes of files would change faster than the CRAN release schedule?

[2020-09-03 00:15] traversc commented on #41
Yes, that preset uses zstd. The zstd source is fully included, but the configure script checks for system installation and uses that for dynamic linkage if it exists. So the same CRAN version may have different file checksums depending on the version of zstd.

[2020-09-03 13:18] wlandau commented on #41
Would you be willing to reconsider? If `qs` were to always use its own zstd, I think behavior would be more consistent and reproducible, and it would make it easier for folks like me to get our hands on a reasonably up-to-date zstd implementation. At my work, I share a large cluster with hundreds of other statisticians, it is much easier to update R packages (thanks to [`renv`](https://rstudio.git

[2020-09-03 16:43] wlandau opened #42 "Segfault reading a list with a data frame with ALTREP"
Reproduced with base R:

[code]

Session info:

[code]

[2020-09-03 16:44] wlandau commented on #42
Related: #147

[2020-09-03 18:35] traversc commented on #42
Thanks for bringing that to my attention, it was a typo in the altrep materialization logic (from my other package). Can you try the fix below?

[code]

[2020-09-03 19:10] wlandau commented on #42
Confirmed fixed, thanks!

[2020-09-03 19:10] #42 closed

[2020-09-03 23:05] traversc commented on #41
You can force zstd/lz4 to compile during installation with configure args:

[code]

However, the default needs to be the system library because of CRAN requirements from Prof. Ripley.

[2020-09-03 23:40] wlandau commented on #41
That’s fair, thanks for explaining.

Did Prof. Ripley elaborate?

[2020-09-03 23:40] #41 closed

[2020-09-24 19:26] glp-p4 opened #43 "Data-driven error: something went wrong (reading object header)"
We have been happily using the qs library for quite some time now, but for the first time we just hit a bug using qserialize that is very data-driven. Specifically, we get this error for some input foo:
[code]
Unfortunately, we are contractually prohibited from providing the data for foo, or we certainly would. However, we can say that small modifications to the contents of foo cause the error to

[2020-09-24 19:56] apoliakov commented on #43
Hello folks! I work with @glp-p4 . We have an anonymized repro. Works like this:

[code]

[repro.Rdata.gz](https://github.com/traversc/qs/files/5278837/repro.Rdata.gz)

[2020-09-24 22:15] apoliakov commented on #43
I spent some more time playing with it  - we are just fascinated by it! This repro requires no external data at all:

[code]

Removing one of these dots, or removing columns from the matrix makes things work. Internally we at P4 were joking around saying "we've won the lottery".

[2020-09-24 23:57] traversc commented on #43
Apologies for any inconvenience, and thanks for bringing this to my attention.

You're right, it's a sort of lottery bug, but luckily an easy fix.

Latest commit:
[code]

Testing:
[code]

Please let me know if it works now, and I'll get this on CRAN soon.

[2020-09-25 00:08] apoliakov commented on #43
Thank you @traversc ! Appreciate the quick response.

Will data serialized by this version be readable by an older version of qc (0.21.12) ?

We'll absolutely try it out. We are using qc as part of a big infrastructure - it really helps us move data around quickly - but it will take some time to integrate the fix. We'll do a thorough test and let you know. ETA a couple of days - maybe after the we

[2020-09-25 00:18] traversc commented on #43
The error was on the read side not the write side, so I'd advise updating to the latest commit (0.23.3).

Assuming it works (and I'll keep testing as well), it doesn't take long to get it on CRAN.

[2020-10-05 12:05] glp-p4 commented on #43
Well, we installed your update and so far it seems to be working well. The issue we experienced doesn't appear to be cropping up anymore. Thanks for the help on this!

[2020-10-05 12:05] #43 closed

[2020-10-08 17:26] BillDunlap opened #44 "example(qsame) assumes exists() is vectorized, but it isn't"
qs/man/qread.Rd contains several calls to exists() with more than one name given as the 'x' argument:
% grep exists *
qreadm.Rd:exists(c('x1', 'x2')) # returns true
qreadm.Rd:exists(c('x1', 'x2')) # returns true
qsavem.Rd:exists(c('x1', 'x2')) # returns true
qsavem.Rd:exists(c('x1', 'x2')) # returns true

exists(c("x1","x2")) ignores the "x2" and returns the same thing as exists("x1"), without a w

[2020-10-09 01:17] traversc commented on #44
Thanks for the report :)

https://github.com/traversc/qs/commit/2f7c73eeeba8263b14ce773b2d119a6ac527f3ec

[2020-11-09 15:28] RSchwinn opened #45 "Large Data Objects Not Always Saving Correctly"
I'm not sure how to provide a MWE, but I can describe the situation. Before I do, I want to tell you how much I love this package. It's extraordinary! As you know, it outperforms everything* in terms of speed while maintaining ancillary attributes.

Here is the issue: I'm working with data frames containing between 3 and 150 million rows and 40 or so variables on Linux. Everything works fine using

[2020-11-09 17:23] traversc commented on #45
There are 4 magic bytes written at the start of every qs file, 0xBEAC.

That error message means that those bytes are not seen. It could be user error, it's hard to see how it could be a bug but I guess it could be ;)

Can you upload one of the files with an error?

Some possibilities on your end:

If you try to `qsave` to the **same file** at the same time from different threads, this could happe

[2020-11-09 20:55] #44 closed

[2020-11-09 21:16] RSchwinn commented on #45
I think it might be related to this comment. I will explore further. I will try to make a short script defining some random data that displays this behavior.

[2020-11-12 18:00] traversc commented on #45
Hey @RSchwinn, was there any further insight from your exploration? If it's possible to send me one of the broken files, I might be able to figure out what happened.

[2020-11-13 00:28] RSchwinn commented on #45
Unfortunately, I cannot share the files. But the good news is that I’ve only been able to reproduce the issue once. I think it occurs when overwriting an existing files that is also being read by another process. So, user error.

Do you have any plans to extend compatibility to Python? QS far outperforms parquet and all other comparable formats, it should be the new ZIP.

[2020-11-13 00:28] #45 closed

[2020-11-13 01:06] traversc commented on #45
Thanks, I do have plans to extend to python, but it's a ways off. I'll have to think very carefully how to do this since data in python and R are quite different.

[2020-11-29 10:36] psychelzh opened #46 "`qsavem` gives unexpected error when passing a name to its `file` argument in a function"
The following script gives an unexpected error. But the name `result_file` actually has a value.

[code]

<sup>Created on 2020-11-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-11-29 18:59] traversc commented on #46
Thanks for the report. @bryce-chamberlain can you have a look? Maybe checking out what `base::save` does differently?

[2020-12-10 05:00] traversc commented on #46
Should be fixed now if you want to give it a shot.

[code]

[2020-12-10 14:49] bryce-chamberlain commented on #46
@traversc thanks for taking care of this one! December has been a very busy month for me.

[2020-12-10 17:32] traversc commented on #46
@bryce-chamberlain No worries! Have a look when you have a chance and see if it's okay.

[2020-12-24 20:31] bryce-chamberlain commented on #46
@traversc looks good to me. I checked it and it works as expected.
@psychelzh can you confirm this is fixed so we can close the issue? thanks!

[2020-12-25 02:28] psychelzh commented on #46
@bryce-chamberlain Thanks! Confirmed here. Hope to be released soon.

[2021-01-07 06:54] traversc commented on #46
On CRAN now.

[2021-01-07 06:54] #46 closed

[2021-01-25 02:04] akhikolla opened #48 "qs package's c_qsave gives libfuzzer error"
Hello,

I used qs package to save all my R data types inside of a testharness and In one of those harnesses when I run the code in presence of the sanitizer and libfuzzer I get the following Issue.

I tried to save the following R Numeric matrix in the qs file.
[code]

It shows there is an issue with the qread function :
`c_qsave(SEXPREC*, std::__cxx11::basic_string<char, std::char_traits<char>, s

[2021-01-25 17:56] traversc commented on #48
Could you help me reproduce the error or point to the code to run the example?

Here I check using valgrind:

[code]

[2021-01-25 19:08] traversc commented on #48
Looking at the error message, it points to the destructor of `CompressBuffer` class and then to `std::vector`. I'm not sure how an address issue is possible there. Is it possibly a false positive?

Any help you can give would be appreciated as I'd like to learn more about fuzz testing.

[2021-01-29 11:21] mrcaseb opened #49 "Allow `file` being an url or connection?"
I have a somewhat special use case where I need to download R objects from GitHub.

Currently the workflow is `readRDS(url("some_github_url"))` which is working because `readRDS` allows a connection for it's `file` argument. I realized that `qs::qread()` could speed this up heavily as reading some example files from disk is more than 4 times faster.

However, I wasn't able to do this without downl

[2021-01-29 13:49] mrcaseb commented on #49
update: I was able to speed up my function in case anyone is interested

[code]

[2021-01-29 18:18] traversc commented on #49
It is a good idea, but CRAN doesn't allow using R-connections directly within C code. Glad you found a workaround!

[2021-01-29 20:10] mrcaseb commented on #49
Ah dang CRAN. Before you replied I found what readRDS is actually doing. It should be the below given code block

https://github.com/microsoft/microsoft-r-open/blob/d72636113ede1c1d28959c8b8723c15c694957f4/source/src/main/serialize.c#L2236-L2282

I assume it's a CRAN exception for base R

[2021-02-01 01:52] AdrianAntico opened #50 "Saving big list: Error in c_qsave(x, file, ...): bad binding access"
Hi qs team,

I'm looking to save a list of 14 elements and I'm running into this error: "Error in c_qsave(x, file, preset, algorithm, compress_level, shuffle_control,  : bad binding access"

The list contains several data.table's, a model object, a list of plots, individual plots, and even null elements at times. When I use save() it save without issue. If I'm using qs::qsave() inappropriately the

[2021-02-01 17:48] traversc commented on #50
Thanks for the report, I believe I know how to fix the issue. Could you help me running the example?

Running the model I get "Error in catboost::catboost.train(learn_pool = TrainPool, test_pool = TestPool,  :
  catboost/private/libs/algo/tensor_search_helpers.cpp:455: No groups in dataset. Please disable sampling or use per object sampling"

[2021-02-01 19:06] AdrianAntico commented on #50
@traversc sorry about that. I forgot to NULL out the GroupVariables argument...

[code]

[2021-02-05 06:43] traversc commented on #50
Hi Adrian, I think I fixed the issue. Could you try it out?

[code]

Then run your example.

[2021-02-05 07:04] AdrianAntico commented on #50
Hi @traversc I just tested it out and it worked!

[2021-02-05 07:11] AdrianAntico commented on #50
@traversc Here's a benchmark on the example I posted (just he saving to file part)

Unit: milliseconds
                                                              expr       min        lq      mean    median        uq       max neval
 qs::qsave(TestModel, file = file.path(getwd(), "Insights.Rdata"))  527.2452  535.0064  608.3629  548.0963  699.4605  710.1596    30
      save(TestModel, file = fi

[2021-02-05 16:15] #50 closed

[2021-03-02 11:43] massugur opened #51 "unable to write to DBFS？"
This is a wonderful package!
qsave() is 24x faster than saveRDS() in my case when saving a large R object (30-60GB).

When I was working on Databricks clusters, I was unable to write .qs file as `qsave(df, “/dbfs/myfile.qs“`. However, I can successfully do `saveRDS(df, “/dbfs/myfile.rds”)`.

I figured out a walkaround is that I can write to the local driver node first  `qsave(df, “myfile.qs”)`and

[2021-03-02 17:35] traversc commented on #51
I'm not familiar with databricks, but if it's just a mount point I'm surprised. Was there an error message or was it silent? Is it reproducible with smaller objects?

[2021-03-02 18:56] massugur commented on #51
There was no error message, just silent. Yes, it applied to all objects.

[2021-03-02 19:35] traversc commented on #51
Thanks, I'd like to understand more. What's the easiest way to set up a databricks system?

[2021-03-02 20:08] massugur commented on #51
I believe you can try Databricks Community Edition. (https://databricks.com/product/faq/community-edition)

[2021-03-03 01:15] traversc commented on #51
I signed up for the community edition, but I'm not able to repro the issue (see below). Any ideas?

Since you're working with very large data, it could be an issue if you run out of memory or file space. But since you said it happens on small objects too, I am not sure.

<img width="455" alt="Untitled" src="https://user-images.githubusercontent.com/9452194/109737149-683d3380-7b7a-11eb-8373-d35bd0f

[2021-03-04 01:12] massugur commented on #51
Thanks for exploring this! I have tried the exactly same commands. And I still had the same problem. There was no error message for qave(), it was silent.

<img width="1213" alt="Screen Shot 2021-03-03 at 5 07 34 PM" src="https://user-images.githubusercontent.com/79911576/109894967-478ce080-7c43-11eb-9a05-955c258291da.png">
<img width="1208" alt="Screen Shot 2021-03-03 at 5 07 16 PM" src="https://

[2021-03-04 09:48] traversc commented on #51
I'm not sure what the issue is, going to need more info.

Did you test this on the community edition, what's the difference between your set up and the community edition?

Could you post `sessionInfo()` and can you test out installing the latest update? `devtools::install_github("traversc/qs")`

[2021-03-05 09:51] massugur commented on #51
Thanks for looking into this!
I tested on the community edition. It perfectly worked, just like what you showed. This time I also tried `fst::write_fst()`. `fst::write.fst()` worked on the community edition, but not in my set up (paid version).

In summary,
1. `saveRDS(mtcars, "/dbfs/temp.rds")` worked on both community edition and my set up. Many others also worked on my set up writting to DBFS,

[2021-03-05 09:56] massugur commented on #51
R version 3.6.2 (2019-12-12)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.7 LTS

Matrix products: default
BLAS:   /usr/lib/openblas-base/libblas.so.3
LAPACK: /usr/lib/libopenblasp-r0.2.18.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UT

[2021-03-05 17:55] traversc commented on #51
Thank you for digging that up. I didn't even realize it's possible for a file system to not support random writes lol.

I'll try to investigate a bit more later this weekend.

If that is the culprit there is not much that can be done, and is on Microsoft.

[2021-03-12 21:54] massugur commented on #51
I think DBFS FUSE mount version causes the problem. Thanks again for taking time to look into this!

According to [Databricks Documentation](https://docs.microsoft.com/en-us/azure/databricks/data/databricks-file-system):

I've tried the following on my set-up.
1. DBR 5.5 (default FUSE V1), `qsave("/dbfs/temp.qs)` workrd.
2. DBR 5.5 setting environment variable DBFS_FUSE_VERSION=2, `qsave("/dbfs/te

[2021-03-12 22:54] traversc commented on #51
I think you're right. The community edition worked on all versions (maybe not a real FUSE drive), and I didn't get around to spinning up an Azure system.

The new version of `qs` (0.24.1 on CRAN) should hopefully at least return an error.

Could you check that out if you're using 0.23.6?

[2021-03-12 23:56] massugur commented on #51
I used to 0.24.1 to produce the above results today :) No error messages.

Yes. The community edition worked on all versions. I realized the community edition has different disk mappings. In community edition, `/dbfs/` maps to local file system, which can be found by `%fs ls file::/dbfs/`, but not `%fs ls dbfs:/`. While in the paid edition, `/dbfs/` refers to files on DBFS, `%fs ls dbfs:/`.

[2021-03-14 00:43] traversc commented on #51
I loaded up Azure and did some testing finally.

[code]

Should give you an error now:
[code]
This could be a little more descriptive, but at least it's not silent.

Btw, I believe fst is already fixed (ver 0.9.4)?
[code]

[2021-03-15 21:58] massugur commented on #51
Sorry for the confusion. Yes, fst v 0.9.4 can't write to DBFS (FUSE v2), but provided error messages.

I've tried installing the latest update and now got an error message.
[code]
Thanks for helping on this!

[2021-07-22 14:20] MarkAPitt opened #52 "qreadm /qload: First extracted object must be renamed (minor bug)"
Given: `qs::qsavem(o1, o2, file="two_objects.qs")`

``qs::qreadm(file="two_objects.qs")`` will create "qs::o1" and "o2"
In other words, exists("o1") is FALSE.  but exits('qs::o1") is TRUE

[2021-07-28 12:22] #52 closed

[2021-07-30 18:18] alexvpickering opened #53 "Slow initial qread after period without reading"
Hello - and thank you for the amazing package. It has generally replaced my usage of `readRDS` and `saveRDS`.

I've noticed that after a saving an object with `qsave` and then reading it a while later the initial read will be substantially slower than subsequent reads. Is this to be expected and is there any way to avoid it? Thanks again.

[2021-07-30 21:21] traversc commented on #53
Yes, it's expected. You can see same thing with any method.

The first cold read needs to read the data from disk, so that is limited to disk speed * compression ratio.

After the first read, the OS stores the data in cache on RAM for a while. So subsequent reads will read data from the RAM cache. This is a fully OS dependent process and not something a person can have any real control over.

Ther

[2021-07-30 21:58] alexvpickering commented on #53
Thanks for the quick reply ... makes sense! I'll explore preloading the file into cache

[2021-07-30 21:58] #53 closed

[2021-08-12 09:34] HywelMJ opened #54 "Correct text in help for qloadm"
Help currently says "`qloadm` and `qsavem` are alias of the same function." You mean 'qreadm', not 'qsavem'.

[2021-08-12 17:40] traversc commented on #54
Thanks for the correction!

[2021-11-11 16:23] salim-b commented on #54
This has been fixed in latest `master`.

[2022-02-08 18:25] PMSeitzer opened #63 "-pthread not found on Mac OS X 11.6 (Big Sur), qs package does not build"
I was using another package that uses `qs::qread()`, and `qs::qread()` was crashing.  To debug the crash, I wanted to rebuild the `qs` package from source, and add some debugging print statements along the way to try to diagnose the problem.

However, when I cloned the `qs` repo and rebuilt the package using `R CMD INSTALL qs`, the package did not build, complaining that the linker could not find

[2022-02-08 20:10] traversc commented on #63
That's a big yikes. If pthreads isn't universally available, then the guidance in "Writing R Extensions" probably is outdated.

For `qs`, I think the long term solution would be to switch to `RcppParallel` but that would require a re-factor.

I plan on forwarding this issue to the mailing list and seeing what people think.

[2022-02-08 21:54] PMSeitzer commented on #63
@traversc Great! glad you're working on the issue.

I'm happy to provide additional information if it's helpful.  Best of luck in forwarding the issue to the mailing list.

[2022-02-09 00:53] traversc commented on #63
I upgraded Catalina -> Big Sur, but have not been able to reproduce the error. I commented out everything in ~/.R/Makevars just in case.

Here's my clang:
[code]

Maybe something about xcode needs to be updated?

[2022-02-09 01:28] PMSeitzer commented on #63
Hey @traversc , It's certainly possible that there is something strange about my build configuration that wouldn't affect users in general.   I am running on a different version of `clang++`, which might be the issue:
[code]

[2022-02-09 02:15] traversc commented on #63
Clang 6 is pretty old and I am far from an expert on Mac, but your clang isn't using xcode which is a little strange to me.

The official R documentation recommends building xcode:
[code]
https://mac.r-project.org/tools/

I wonder if that would help?

[2022-02-09 05:24] PMSeitzer commented on #63
Hey @traversc ,
Thanks for the suggestion, but the I already have the xcode command line tools, and I've run the command you've suggested before.   I'm also using the `llvm` compiler for some programs, and I've had to mess with some low-level configuration files to manage multiple compilers.  It might be safe to say that this issue is probably specific to my system, and not a big problem.  I'm not

[2022-03-25 18:49] #63 closed

[2022-03-25 18:49] #54 closed

[2022-03-25 18:51] #48 closed

[2022-03-25 18:54] traversc opened #64 "TO DO: serialization for upcoming R7 package"
Two changes:

1) There will be a `marhsall` generic that will wrap R7 objects into plain R data. This could benefit from calling `marhsall` internally.

2) R7 uses S4 objects as the base for R7 that lack the S4 flag. Currently, qs assumes all S4 objects carry the S4 flag.

https://github.com/RConsortium/OOP-WG

[2022-03-25 21:17] gevro opened #65 ""Warning: end of file not reached, data may be corrupted""
Hi, I think I found a bug in qs.

qsave for two similar objects did not return any errors.

However, qread for the saved objects gave this error:
"Warning: end of file not reached, data may be corrupted"

How can qsave not return an error, but qread returns an error?

Thanks.

[2022-03-25 21:57] traversc commented on #65
Hi, could you send an example?

[2022-03-25 22:17] gevro commented on #65
To keep data private, what is your e-mail so I can send you a download link?

[2022-03-25 22:34] traversc commented on #65
You can find my email in the maintainer field here: https://github.com/traversc/qs/blob/master/DESCRIPTION

Thanks!

[2022-03-26 22:59] traversc commented on #65
Resolved via email

[2022-03-26 22:59] #65 closed

[2022-04-01 07:02] statquant opened #66 "feature request: add meta data to qs file"
Hello,
FIrst, thanks again for the amazing package.
I have a feature request that I hope you'll find useful:
I think that would be extremely useful to be able to add meta data to a qs file. For instance say you save a table with say a column date, it could be useful to know the date range saved in the table. In everything that involves caching (and I think everyone caching stuff is using qs or fst

[2022-04-01 18:59] traversc commented on #66
I would be opposed to building in metadata directly to the qs file format, because I see it as more of a convenience feature (since you could simply store metadata externally) and not something core. It adds complexity and the possibility of additional bugs.

However, if it's a pure R convenience function written on top qs somehow, that would be a possibility. Can you expand on how that would look

[2022-05-06 08:06] StaffanBetner opened #67 "Suggestion: caching pipe"
I have written a pipe that essentially wraps `qcache` in a pipe. It might be of use for more people than me, or the idea can even be included in the package.

[code]

[2022-05-06 21:19] traversc commented on #67
Thanks for the idea! I'm not quite seeing the value in this approach. Why wouldn't you use this?

[code]

Yes you have to type a bit more, but it's more straightforward and you might want to pass additional arguments to qcache.

[2022-05-11 06:04] abalter opened #68 "FST works with dataframes"
You should correct this in the readme.

[2022-05-11 19:44] traversc commented on #68
I think that is what the readme says. Can you point out where it's incorrect?

[2022-05-11 20:39] abalter commented on #68
![image](https://user-images.githubusercontent.com/5349876/167943630-a77036f8-73fb-4e04-a77d-a6d57b3e275c.png)

[2022-05-11 20:40] abalter commented on #68
![image](https://user-images.githubusercontent.com/5349876/167943834-37756a80-f658-4055-8936-1599b3517b5a.png)

[2022-05-11 21:37] traversc commented on #68
Sorry, I read that sentence 10 times but it sounds correct to me. The issue title "FST works with dataframes" is saying the same thing?

[2022-05-11 21:39] abalter commented on #68
Oh shit. I kept reading `data.table`. I swear. Every time I read it, I thought it said `data.table`. I've gotta quit drinking lean while working.

[2022-05-11 21:40] traversc commented on #68
No worries!

[2022-05-11 21:40] #68 closed

[2022-05-14 20:38] SebKrantz opened #69 "Binaries through r-universe"
In case this is of interest, I have set up a [fastverse r-universe](https://fastverse.r-universe.dev/) that builds binary versions of the GitHub version of your packages qs and stringfish for MAC and Windows (new binaries are build within an hour of a new commit to your repo). Users can install these binaries using (for qs):

[code]

You can also add a Badge to your README.md:

[![qs status badge]

[2022-05-16 16:46] traversc commented on #69
Interesting project! Thanks for letting me know about it!

[2022-05-22 02:38] gevro opened #70 "Reading specific chunks from disk"
Hi,
I have a very large data object, made by analyzing a large dataset. The large data object is in the same format every time. However, it is too big to load all into memory.

Is there a way to read chunks of an RDS object from disk, without having to load the whole object into memory? Then I could process each chunk separately.

It would also be helpful to be able to split into chunks and merge

[2022-06-04 13:05] thomasjwood opened #71 "Reading QS file from website inside R session"
Brilliant package, use it all the time. Thanks for all your hard work.

I like to store `.rds` files I'm recurrently using on some remote website. in those situations I would do something like (this is not a real file):
[code]
Is it possible to do the same with a `*.qs` file? I tried this (a real file this time)
[code]
and get the error
[code]
is this functionality possible with `qs` files?

Thank

[2022-06-05 18:38] traversc commented on #70
Sorry, it's not possible. I would suggest splitting up your results into multiple chunks/files.

[2022-06-05 18:38] #70 closed

[2022-06-05 19:00] traversc commented on #71
At once point qs had generic R connections, but due to CRAN policy, you're not allowed to use them within C++ code.

You could create a wrapper, e.g.:

[code]

Would that work? I can add that into the package itself if you'd like.

[2022-06-06 11:42] thomasjwood commented on #71
Brilliant! Works perfectly! Thanks!

I'd love for this function to be included (although I don't know how typical this use case is...)

Thanks again!

[2022-06-06 11:42] #71 closed

[2022-06-16 08:14] StaffanBetner commented on #67
Yeah, I didn't think of it being pipable...

[2022-06-16 08:14] #67 closed

[2022-06-17 08:08] StaffanBetner commented on #67
I also want to say that this is a great package! It should be wider known!

[2022-07-20 19:04] JZL commented on #51
I'm happy to start a new issue because it's only tangentially related. But I was also getting
`basic_ios::clear: iostream error`. I was red-lining my memory use so thought it could be from that. But when I changed it to `saveRDS` I got

[code]
and I didn't realize there was such a limit. I made a shorter filename, reran, and both qs and saveRDS worked

I think it could be helpful for qs to also gi

[2022-07-22 16:22] traversc opened #72 "To do: Add error message for file names too long"
[@jzl](https://github.com/traversc/qs/issues/51#issuecomment-1190647665) from previous issue thread. Great idea, thanks!

[2022-10-12 00:25] Shians opened #73 "Need to check for writeable path"
Currently if a given path is not writable then the error returned is uninformative for an R user. I suggest checking the path is writable in R before calling the C++ code since working with filesystem in C++ is a massive pain prior to C++17.

[code]

<sup>Created on 2022-10-12 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>